<div class="comment-form">
  <h1>Edit Comment</h1>

  <%= form_for [@comment.post, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 3 %>
    </div>
    
    <div class="form-actions">
      <%= f.submit "Update Comment", class: 'btn btn-primary' %>
      <%= link_to 'Back', post_path(@comment.post), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>